* {
  padding:0;
  margin:0;
  box-sizing:border-box;
}

.body {
  background:url(https://images.pexels.com/photos/6328874/pexels-photo-6328874.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  /* height: max-content; */
  padding-top: 40px;
  padding-bottom: 100px;
}
h1{
  color: white;
}
h2{
  text-decoration:dotted;
}
input {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 20px;
  background-color: darkslategray;
  border: none;
  border-radius: 10px;
  color: wheat;
}
#insuranceInput{
  margin-left: 80px;
}
.inputs{
  width: 38%;
  height: 82%;
  margin-left: 10px;
  padding: 40px 20px;
  border-radius: 30px;
  border: 4px solid brown;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.inputs button{
  margin-top: 5px;
  padding: 12px;
  background-color: brown;
  color: wheat;
  font-weight: 900;
  width: 280px;
  border-radius: 12px;
  border: none;
  transition: 0.2s ease-in-out;
}
.inputs button:hover{
color: black;
background-color: bisque;
}
::placeholder{
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.first {
  width: 100%;
  /* height: 80vh; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

#budget {
  text-align: center;
  margin-bottom: 20px;
}

.expense, .salaryRem {
  width: 26%;
  background-color: darkslategray;
  color:blackaqua;
  line-height: 1.5;
  height: 70%;
  display: flex;
  font-weight: 500;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  border-radius: 2%;
  border: 3px solid brown;
  font-weight: 700;
  color: #fff;
  animation: swing 3s;
 
}



/* .expense{
  animation-delay: 3s;
} */

@keyframes swing {
  0%{
    transform:rotate3d(0deg);
  }
  50%{
    transform: translateX(-30px);
  }
  100%{
    transform:rotate3d(0deg);
  }
}

/* @keyframes swing {
  0% {
    border-color: white;
    border-width: 4px;
    transform:  rotate(0deg);
  }
  25%{
    border-color: orange;
    border-width: 5px;
    transform:  rotate(0deg); 
  }
  50% {
   border-color: chartreuse;
    transform:rotate(0deg);
    border-width: 6px;
  }
  75%{ 
    transform:rotate(0deg);
    border-color: darkgreen;
    border-width: 7px;
  }
  100% {
    border-color: red; 
    transform: rotate(0deg);
    border-width: 8px;
  }
} */

/* @keyframes swing{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

/* .expense p, .salaryRem p {
  text-transform: capitalize;
} */

/* .expense {
  background: url("/images/april.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.salaryRem{
  background: url("/images/may.jpg");
  background-size: cover;
  background-repeat: no-repeat;
} */



/* body {
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-image: url("https://user-images.githubusercontent.com/26748614/96337246-f14d4580-1085-11eb-8793-a86d929e034d.jpg");
  background-size: cover;
  backdrop-filter:  brightness(50%);
}

canvas {
  display: block;
}

#canvas_container {
  width: 100%;
  height: 100vh;
}

button {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid white;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 0.5rem 0.9em;
  background: #000000;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s;
}

button:hover {
  background: #ffffff;
  color: #000000;
} */