* {
  padding:0;
  margin:0;
  box-sizing:border-box;
}

.body {
  background: url(/images/Screenshot.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

input {
  margin-top: 5px;
  padding: 10px;
  background-color: chocolate;
  color: wheat;
}



::placeholder{
  color: white;
}

.first {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
}

#budget {
  text-align: center;
}

.expense, .salaryRem {
  width: 40%;
  background-color: rgba(165, 42, 42, 0.514);
  color:aqua;
  line-height: 1.5;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
  padding: 20px;
  text-align: center;
  border-radius: 30%;
}

/* .expense {
  background: url("/images/april.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.salaryRem{
  background: url("/images/may.jpg");
  background-size: cover;
  background-repeat: no-repeat;
} */



/* body {
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-image: url("https://user-images.githubusercontent.com/26748614/96337246-f14d4580-1085-11eb-8793-a86d929e034d.jpg");
  background-size: cover;
  backdrop-filter:  brightness(50%);
}

canvas {
  display: block;
}

#canvas_container {
  width: 100%;
  height: 100vh;
}

button {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid white;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 0.5rem 0.9em;
  background: #000000;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s;
}

button:hover {
  background: #ffffff;
  color: #000000;
} */